*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(4,8em);
    grid-template-rows: repeat(6,1fr);
    gap: 5px;
    height: 100vh;
}
.header{
    background-color: rgb(47, 155, 255);
    grid-column: 1/5;
}
.sidebar1{
    background-color: cadetblue;
    grid-row: 2/6;
}
.sidebar2{
    background-color: blue;
    grid-row: 3/8;
    grid-column: 4/5;
}
.navegacion{
    background-color: orange;
    grid-row: 2/3;
    grid-column: 2/5;
}
.main{
    background-color: red;
    grid-row: 3/6;
    grid-column: 2/4;
}
.footer{
    background-color: purple;
    grid-row: 6/7;
    grid-column: 1/-2;
}
@media screen and (max-width:736px){
    .header{
        background-color: rgb(47, 155, 255);
        grid-column: 1/5;
        grid-row: 1/2;

    }
    .sidebar1{
        grid-row: 3/4;
        grid-column: 1/-1;

    }
    .sidebar2{
        grid-row: 5/6;
        grid-column: 1/-1;
    }
    .navegacion{
       grid-row: 2/3;
       grid-column: 1/-1;
    }
    .main{
        grid-row: 4/5;
        grid-column: 1/-1;
    }
    .footer{
        grid-row: 6/7;
        grid-column: 1/-1;
    }     
}