body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background:linear-gradient(to right,#D7B81B,#EBE3BB) ;
    font-family: sans-serif;
    color: white;
}

main{
position: relative;
top: 10px;
    background-color: white;
    max-width: 1000px;
    min-height: auto;
    width: 90%;
    justify-self: center;

}
.container{
    width: 95%;
    padding-bottom: 15px;
    margin: 0 auto;
}
header{
    
    background-color: #152C55;
    width: 100%;
    margin-top: 15px;
    height: 100px;
    display: inline-block;
    

}

.header__title{
    margin-top: 25px;

    text-align: center;
    font-size: 24px;
    word-spacing: 10px;
}
.header__options{
    display: flex;
    width: 270px;
    margin: 0 auto;
    gap: 5px;
    justify-content: space-between;
    margin-top: 5px;
    }
.blog{
    margin-top: 15px;
    background-color: #D4956A;
}
.blog__container{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog__title{
    text-align: center;
    font-size: 20px;
    word-spacing: 8px;
    
}
.blog__list{
    padding-left: 30px;
}
.blog__list li::marker{
    color: black;
}

.article__dropdown{
    text-align: center;
    margin-top: 15px;
}
.article{
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#brown{
    background-color: #AA6639;
}
#darkblue{
    background-color: #4D648D;
}
#lightblue{
    background-color: #7688A9;
}
footer{
    bottom: 0;
    position: sticky;
    margin-top: 100px;
    background-color: #2D4571;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:800px){
    main{
        background-color: white;
        max-width: 1000px;
        width: 90%;
        height: 95vh;
        padding-bottom: 15px;
        position: sticky;
        
    
    }
    .container{
        height: 99%;
        width: 95%;
        padding-top: 5px;
        margin: 0 auto;
    }
    header{
        display: flex;
        background-color: #152C55;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
    
    }
    
    .header__title{
        margin-top: 0px;
        margin-left: 15px;
        font-size: 24px;
        word-spacing: 10px;
    }
    .header__options{
        margin: initial;
        margin-right: 10px;
    }
    .blog{

        width: 40%;
        float: right;
    }
    .article__dropdown{
        display: flex;
        background-color: red;
        width: 58%;
    }
    .article{
        width: 100%;
        height: 70px;
        
    }
    footer{
        position: sticky;
        width: 100%;
        top: 100%;
        
    }
}