span{
    width: 180px;
}
.divespecial{
    width: 200px;
    border: 1px solid red;
    background-color: grey;

}

.pespecial{
    width: 300px;
    border: 1px dashed grey;
    padding: 10px;

}

.otroespecial{
width: 300px;
border: 1px dotted grey;
padding-left: 15px;
padding-right: 15px;

}
span{
    display: inline-block;
    border: 1px solid black;
    background-color: grey;
    width: 180px;
    text-align: center;
    margin-right: 10px;
}