.definición{
font-size: 16px;
font-weight: bold;
color: bisque;
}

.parrafo_especial{
    font-size: 14px;
    font-style: italic;
    color: blue;
}

h2 , h1{
    color: green;
    }
    
    p{
    color: goldenrod;
    
    }